body{
    margin: 0px;
}

h1{
    font-size: 50px;
    padding-left:2px ;
}
.first-section{
    display: flex;
}
.line-color-1{
    color: rgb(14, 161, 51);
}

.line-color-2{
    color: lightcoral;
}
.width-size{
    margin-top: 100px;
    margin-left: 100px;
}
.width-size img{
    width: 60%;
    height: 100%;
    
}

.heading-border-left{
    border-image: linear-gradient(green, red);
    border-image-slice: 1;
    border-left: 3px solid;
}
.button-link{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
}

.third-section{
    display: flex;
}
.third-section img{
    width: 40%;
    height: 50%;
}
.forth-section{
    display: flex;
}
