body{
    margin: 0px;
}

h1{
    font-size: 50px;
    padding-left:2px ;
}
.first-section{
    display: flex;
}
.line-color-1{
    color: rgb(14, 161, 51);
}

.line-color-2{
    color: lightcoral;
}
.width-size{
    margin-top: 100px;
    margin-left: 100px;
}
.width-size img{
    width: 60%;
    height: 100%;
    
}

.heading-border-left{
    border-image: linear-gradient(green, red);
    border-image-slice: 1;
    border-left: 3px solid;
}
.button-link{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.text-position{
    text-align: center;
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.second-section{
    display: flex;
    text-align: center;
  width: 90%;
  margin: auto;
  padding: 50px;
  justify-content: space-around;
}
.three-part-one
{
    
    border-radius: 20px;
  box-shadow: 4px 4px 12px gray;
  width: 360px;
  height: 376px;
  text-align: left;
  background-color: #caeff3;
}
.three-part-one img{
    width: 141px;
    height: 141px;
}
.three-part-two
{
    
    border-radius: 20px;
  box-shadow: 4px 4px 12px gray;
  width: 360px;
  height: 376px;
  text-align: left;
  background-color: #f5cccc;
}
.three-part-two img{
    width: 141px;
    height: 141px;
}
.three-part-last{
    border-radius: 20px;
  box-shadow: 4px 4px 12px gray;
  width: 360px;
  height: 376px;
  text-align: left;
  background-color: #FFF4D6;
}
.three-part-last img{
    width: 141px;
    height: 141px;
}
.third-section{
    display: flex;
}
.third-section img{
    width: 40%;
    height: 50%;
}
.forth-section{
    display: flex;
}


.footer-content {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  
}
.red-color {
color: red;
}
