body{
    margin: 0px;
    
font-family: 'Poppins', sans-serif;

    
}

h1{
    font-size: 50px;
    padding-left:2px ;
}
.first-section{
    display: flex;
    background-color: rgba(147, 206, 240, 0.685);
    margin: 20px ;
}
.line-color-1{
    color: rgb(14, 161, 51);
}

.line-color-2{
    color: lightcoral;
}
.width-size{
    margin-top: 100px;
    margin-left: 100px;
}
.width-size img{
    width: 60%;
    height: 100%;
    border-radius: 25px;
    
}
.width-size-check{
    width: 80%;
}

.heading-border-left{
    border-image: linear-gradient(green, red);
    border-image-slice: 1;
    border-left: 3px solid;
}
.button-link{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    border-radius: 15px;
}

.text-position{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.orange-color{
    color: orange;
}
.second-section{
    display: flex;
    text-align: center;
  width: 90%;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
}
.color-set{
    background-color: rgba(236, 182, 243, 0.698);
    margin: 20px ;
}
.three-part-one
{
    border-radius: 20px;
    box-shadow: 4px 4px 12px gray;
    width: 500px;
    height: 500px;
    text-align: left;
    background-color: #caeff3;
  
}
.three-part-one img{
    width: 141px;
    height: 141px;
}
.three-part-two
{
    
    border-radius: 20px;
  box-shadow: 4px 4px 12px gray;
  width: 500px;
  height: 500px;
  text-align: left;
  background-color: #f5cccc;
}
.three-part-two img{
    width: 141px;
    height: 141px;
}
.three-part-last{
    border-radius: 20px;
  box-shadow: 4px 4px 12px gray;
  width: 500px;
  height: 500px;
  text-align: left;
  background-color: #FFF4D6;
}
.three-part-last img{
    width: 141px;
    height: 141px;
}
.third-section{
    display: flex;
    background-image: url(/Images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    background-color: rgba(50, 175, 81, 0.657);
    margin: 20px;
}

.forth-section{
    display: flex;
    background-color: rgb(235, 146, 187);
    margin:20px;
}


.footer-content {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  
}
.red-color {
color: red;
}
.font-decoration{

   font-family: 'Lobster', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'The Nautigal', cursive

}

